<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WACAS: {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ '/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
        <link href="{{ '/css/sampa.css' | relative_url }}" rel="stylesheet">
        <link href="{{ '/css/print.css' | relative_url }}" rel="stylesheet"
            media="print">
    </head>
    <body>
        <div class="container">
          <div class="header">
            <ul class="nav nav-pills pull-right">
              {% assign shorturl = page.url | replace:'index.html','' %}
              {% for item in site.nav_wacas %}
                <li {% if item.link == shorturl %}class="active"{% endif %}>
                  <a href="{{ item.link | relative_url }}">
                    {{ item.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
            <a href="{{ '/' | relative_url }}"><img style="float: left; margin-right: 1em"
                              src="{{ '/img/wacas-small.jpg' | relative_url }}"
                              width="56" height="56" alt="logo" /></a>
            <a href="{{ '/' | relative_url }}"><h1>WACAS 2014</h1></a>
          </div>

          {% comment %}Liquid is sort of terrible! I think "!= true" is the
          only way to do negation?{% endcomment %}
          {% if page.notitle != true %}
          <h2>{{ page.title }}</h2>
          {% endif %}

          {{ content }}

        </div> <!-- /container -->

        <!-- Support retina images. -->
        <script type="text/javascript"
          src="{{ '/js/srcset-polyfill.js' | relative_url }}"></script>
    </body>
</html>
